@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Space+Grotesk:wght@400;500;600;700;800&display=swap");

:root {
  --bg0: #111827;
  --bg1: #1f2937;
  --bg2: #273244;
  --bg3: #374151;
  --border: #4b5563;
  --border2: #6b7280;
  --text1: #f9fafb;
  --text2: #d1d5db;
  --text3: #9ca3af;
  --accent: #2563eb;
  --accent2: #60a5fa;
  --green: #22c55e;
  --red: #ef4444;
  --yellow: #eab308;
  --blue: #3b82f6;
  --orange: #f97316;
  --font-head: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --r: 6px;
  --r2: 8px;
}
