@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Space+Grotesk:wght@400;500;600;700;800&display=swap");

/* properties defined as tokens to maintain eveness */
:root {
  --bg0: #111127;
  --bg1: #201f37;
  --bg2: #212041;
  --bg3: #3c3751;
  --border: #514b63;
  --border2: #6b6b80;
  --text1: #f9fafb;
  --text2: #d1d5db;
  --text3: #9ca2af;
  --accent: #8825eb;
  --accent2: #b57df2;
  --accent-soft: color-mix(in srgb, var(--accent) 18%, var(--bg2));
  --accent-border: color-mix(in srgb, var(--accent) 45%, var(--border));
  --accent-glow: color-mix(in srgb, var(--accent2) 72%, white);
  --green: #22c55e;
  --red: #ef4444;
  --yellow: #eab308;
  --blue: #3b82f6;
  --orange: #f97316;
  --font-head: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --r: 6px;
  --r2: 8px;
}
